<launch>
    
  <rosparam file="$(find roberto_hw_interface)/config/controllers.yaml" command="load"/>
  <rosparam file="$(find roberto_hw_interface)/config/joint_limits.yaml" command="load"/>

  <node name="RobertoHardwareInterface" pkg="roberto_hw_interface" type="roberto_hw" output="screen"/>

  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/> -->
    
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="
            /Roberto/joints_update
            /Roberto/JointD_VelocityController
        "/> 

  <node name="topic_convert" pkg="roberto_hw_interface" type="topic_convert">
    <remap from="output" to="Roberto/JointD_VelocityController/command"/>
  </node>

</launch>
