<?xml version="1.0"?>
<launch>
  <rosparam file="$(find roberto_hw_interface)/config/controllers.yaml" command="load"/>
  <rosparam file="$(find roberto_hw_interface)/config/joint_limits.yaml" command="load"/>

  <node name="RobertoHardwareInterface" pkg="roberto_hw_interface" type="roberto_hw" output="screen">
      <param name="wheel_multiplier"    value="1000"/>
  </node>
  
  <node name="RobertoLimits" pkg="roberto_hw_interface" type="roberto_limit_handler"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="
            /Roberto/joints_update
            /Roberto/auger_controller
            /Roberto/actuator_pos_controller
            /Roberto/bscrew_pos_controller
            /Roberto/drivetrain_controller"> 
  </node>
<!--  
    <node name="DiffDrive" pkg="roberto_hw_interface" type="diff_drive">
      <param name="totalMod" value="1"/>
      <param name="leftMod" value="1"/>
      <param name="rightMod" value="1"/>
      <param name="turnMod" value="0.5"/>
      <remap from="/outputLeft" to="/Roberto/left_wheel_controller/command"/>
      <remap from="/outputRight" to="/Roberto/right_wheel_controller/command"/>
      <remap from="/input" to="/Drivetrain/cmd_vel"/>
  </node>
-->  


</launch>