<?xml version="1.0"?>
<launch>
  <rosparam file="$(find roberto_hw_interface)/config/controllers.yaml" command="load"/>
  <rosparam file="$(find roberto_hw_interface)/config/joint_limits.yaml" command="load"/>

<!--
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
-->

  <node name="RobertoHardwareInterface" pkg="roberto_hw_interface" type="roberto_hw" output="screen">
      <param name="drive_kP"    value="0.1"/>
      <param name="drive_kI"    value="0.002"/>
      <param name="drive_kD"    value="5.0"/>
      <param name="drive_kF"    value="0.035"/>
      <param name="drive_ramp"  value="1"/>
  </node>

  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/> -->
    
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="
            /Roberto/joints_update
            /Roberto/auger_controller
            /Roberto/actuator_vel_controller
            /Roberto/bscrew_vel_controller
            /Roberto/left_wheel_controller
            /Roberto/right_wheel_controller"> 
  </node>

  <node name="DiffDrive" pkg="roberto_hw_interface" type="diff_drive">
      <param name="totalMod" value="1"/>
      <param name="leftMod" value="1"/>
      <param name="rightMod" value="1"/>
      <param name="turnMod" value="1"/>
      <remap from="/outputLeft" to="/Roberto/left_wheel_controller/command"/>
      <remap from="/outputRight" to="/Roberto/right_wheel_controller/command"/>
      <remap from="/input" to="/Drivetrain/cmd_vel"/>
  </node>

  <node name="ActuatorConvert" pkg="roberto_hw_interface" type="topic_convert">
      <remap from="/input" to="/Actuator/cmd_vel"/>
      <remap from="/output" to="/Roberto/actuator_vel_controller/command"/>
  </node>

  <node name="BScrewConvert" pkg="roberto_hw_interface" type="topic_convert">
      <remap from="/input" to="/BScrew/cmd_vel"/>
      <remap from="/output" to="/Roberto/bscrew_vel_controller/command"/>
  </node>

  <node name="AugerConvert" pkg="roberto_hw_interface" type="topic_convert">
      <remap from="/input" to="/Auger/cmd_vel"/>
      <remap from="/output" to="/Roberto/auger_controller/command"/>
  </node>

</launch>
